body {
    margin: 2em auto;
    max-width: 50em;
    text-align: center;
}

label,
.etiqueta {
    display: inline-block;
}

input {
    width: 165px;
    padding: 0.5em 1em;
    margin: 0.5em;
    border: 1px solid gray !important;
    border-radius: 5px;
}

button {
    margin: 0.5em;
    padding: 0.5em;
    font-variant: small-caps;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
    border: 1px solid WhiteSmoke;
    border-radius: 10px;
}

button:disabled {
    cursor: not-allowed;
}

input,
button:enabled {
    box-shadow: rgba(0, 0, 0, 0.1) 0px 1px 3px 0px, rgba(0, 0, 0, 0.06) 0px 1px 2px 0px !important;
}

#borrar {
    background-color: #ffeaff;
    color: Orchid;
    width: 100px;
}

#borrar:hover {
    background-color: #ffdaff;
}

#enviar {
    background-color: #e6fae6;
    color: SeaGreen;
    width: 150px;
}

#enviar:hover {
    background-color: #c6fac6;
}

.obligatorio {
    color: #ff2450;
}

#resulta,
#estatus {
    margin-top: 2em;
    display: none;
}

table {
    margin: 1em auto;
    width: 100%;
    max-width: 575px;
    border-collapse: collapse;
}

thead tr {
    background-image: linear-gradient(45deg, #80008033, #00800033) !important; 
}

th {
    color: white !important;
    text-shadow: gray 1px 1px;
}


.sr {
    position: absolute;
    overflow: hidden;
    text-indent: -9999px;
}

#zona {
    border: none;
    background: none;
}

.spinner {
    margin: 0 auto;
    border: 5px solid LightGray;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    border-left-color: DarkOrange;

    animation: spin 1s ease infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.colores {
	background-image: linear-gradient(260deg, rgb(255, 0, 255), rgb(0, 255, 0)) !important;
	-webkit-background-clip: text !important;
	-webkit-text-fill-color: transparent !important;
}

.fondo {
    background-color: GhostWhite;
    background-image: linear-gradient(260deg, #80008011, #00800011);
    padding: 1em;
    margin-bottom: 1em;
    border-radius: 10px;
}

#estatus {
    color: darkblue;
}